doctype html
html
    head
        meta(name="viewport", content="width=device-width")
        link(href='/public/css/calculator.css', rel="stylesheet")
        link(href='/public/css/core.css', rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel="stylesheet")
    title #{calcName || 'UNKNOWN'} Calculator
    body
        include ./partials/_template-calculator.pug
        div#app
        script(src="/public/js/calculator.bundle.js")