doctype html
html
    head
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/static/css/core.css")
    style.
        .main-div {
            padding: 16px;
            left: 0; right: 0; top: 0; bottom: 0; position: fixed;
        }

        .ct {
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
        }

        .construction-img {
            width: 1em;
            height: 1em;
            display: inline;
            margin-right: 4px;
        }

        .db-link {
            font-size: 1.6rem;
        }

        .feather {
            /* Flow with text content */
            display: inline-block;
            /* Inherit the parent text color */
            fill: currentColor;
            stroke: currentColor;
            /* Use the parent font-size for width and height */
            height: 1em;
            width: 1em;
            /* Vertically align icon with adjacent text */
            vertical-align: middle;
            /* Align more nicely with capital letters */
            position: relative;
            top: -0.0625em;
        }
    body
        div.main-div.flex-layout.flex-center-cross.flex-center.flex-column
            h2.ct
                img(src="/static/img/wrench-screwdriver-icon.png" class="construction-img")
                span Under Construction
            a.db-link(href="/dashboard")
                | Go To Dashboard
                sup
                    svg.feather(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        line(x1='6', y1='18', x2='18', y2='6')
                        polyline(points='9 6 18 6 18 15')